<div class="row title">
  <h2 class="display-4 text-white">Manga Recomendations</h2>
</div>
<div class="row">
  <div class="col">
    <img src="https://raw.githubusercontent.com/Shadow-Monarch98/Udemy-practice-code/master/Animanga/resources/img/6.jpg" alt="Solo Leveling">
  </div>
  <div class="col">
  <img src="https://raw.githubusercontent.com/Shadow-Monarch98/Udemy-practice-code/master/Animanga/resources/img/7.jpg" alt="Death Note">
  </div>
  <div class="col">
  <img src="https://raw.githubusercontent.com/Shadow-Monarch98/Udemy-practice-code/master/Animanga/resources/img/8.jpg" alt="Breser of Glutony">
  </div>
  <div class="col">
  <img src="https://raw.githubusercontent.com/Shadow-Monarch98/Udemy-practice-code/master/Animanga/resources/img/9.jpg" alt="After Being Reborn, I Became the Strongest to Save Everyone">
  </div>
  <div class="col">
    <img src="https://raw.githubusercontent.com/Shadow-Monarch98/Udemy-practice-code/master/Animanga/resources/img/10.jpg" alt="The Berserker Rises To Greatness">
  </div>
</div>
