@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)),
    url(https://raw.githubusercontent.com/Shadow-Monarch98/Udemy-practice-code/master/Animanga/resources/css/img/one.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
