<div class="row title">
<h2 class="display-4 text-white">Anime Recomendations</h2>
</div>
<div class="row">
  <div class="col">
    <img src="https://raw.githubusercontent.com/Shadow-Monarch98/Udemy-practice-code/master/Animanga/resources/img/1.jpg"
      alt="One piece">
  </div>
  <div class="col">
    <img src="https://raw.githubusercontent.com/Shadow-Monarch98/Udemy-practice-code/master/Animanga/resources/img/2.jpg"
      alt="Rakudai kishi no cavilary">
  </div>
  <div class="col">
    <img src="https://raw.githubusercontent.com/Shadow-Monarch98/Udemy-practice-code/master/Animanga/resources/img/3.jpg"
      alt="Naruto">
  </div>
  <div class="col">
    <img src="https://raw.githubusercontent.com/Shadow-Monarch98/Udemy-practice-code/master/Animanga/resources/img/4.jpg"
      alt="Gintama">
  </div>
  <div class="col">
  <img src="https://raw.githubusercontent.com/Shadow-Monarch98/Udemy-practice-code/master/Animanga/resources/img/5.jpg"
  alt="Saiki kusuo no sainan">
  </div>
</div>


