<div class="row">
  <div class="title">
    <h2 class="display-4">Fast & Brief </h2>
  </div>
  <div class="desc row">
    <p class="fs-4">
      Hello, we are AniManga here we make our own opinion based reviews which are easy and fast to access
    </p>
  </div>

</div>

<div class="row">
<!-- <figure class="text-center title">
  <blockquote class="blockquote">
    <p>Fast &mdash; Brief</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Hello, we are AniManga here we make our own opinion based reviews which are easy and fast to access
  </figcaption>
</figure> -->


</div>
<div class="container">
  <div class="row">
    <div class="col box">
      <h3>Favorates</h3>
      <p>One-Tap to update your library,which can be catagorised,sorted and can be accsesed cross platform.</p>
    </div>

    <div class="col box">
      <h3>Summary</h3>
      <p>Best Summaries from trusted sources like MAL,Chat.me etc.</p>
    </div>

    <div class="col box">
      <h3>Library</h3>
      <p>Never ending and frequently updated Content.Which is available for free.</p>
    </div>

    <div class="col box">
      <h3>Fast</h3>
      <p>Quick access of data and your favorate library.</p>
    </div>

    <div class="col box">
      <h3>Brief</h3>
      <p>Brief and honest Reviews that are updated most frequently.</p>
    </div>
  </div>
